@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");

:root {
  --primary-color-opacity: #eddfd98a;
  --primary-color: rgba(237, 223, 217, 1);
  --secondary-color: rgba(46, 99, 101, 1);
  --green: rgba(39, 45, 35, 1);
  --box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.frame {
  display: flex;
  flex-direction: column;
}

.sound-up {
  opacity: 1;
  &:hover {
    transform: translateY(-0.25em);
    opacity: 0.3;
  }
}
.sound-down {
  opacity: 0.3;
  &hover {
    transform: translateY(-0.25em);
    opacity: 1;
  }
}

.header {

  height: 30vh;


  h1 {
    color: var(--primary-color);
    font-size: 11rem;
    font-family: "Twinkle Star", cursive;
  }
  h2 {
    color: var(--primary-color);
    margin: -50px;
    font-size: 4rem;
    font-family: "Twinkle Star", cursive;
  }
}

footer {
  text-align: center;
  margin-top: 80px;
  padding: 1rem 0;
  height: 90px;
  background-color: var(--secondary-color);
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}
