.quiz-frame {
  height: 80vh;
  width: 100vw;
  gap: 10px;
  .timer {
    background-color: var(--secondary-color);
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    color: var(--primary-color);
  }
  .quiz-container {
    position: relative;
    .houseFrame {
      height: 35rem;
      width: 50rem;
    }
  }
}

.btn-list {
  position: absolute;
  bottom: 2.3rem;
  flex-wrap: wrap;
  width: 50rem;
  justify-content: center;
  row-gap: 40px;
  column-gap: 325px;

  .response-btn {
    background-color: var(--primary-color-opacity);
    border-radius: 10px;
    width: 13rem;
    height: 10rem;
    padding: 30px;
    &:hover,
    &:focus {
      box-shadow: 0 0.5em 0.5em -0.4em var(--green);
      transform: translateY(-0.25em);
    }
  }
}
